.loading{
    width:200px;
    height:200px;
    position:relative;
  }
  .loading::before,.loading::after{
    content:'';
    width:10px;
    height:10px;
    background:#000;
    border-radius:50%;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    animation:ani 1s linear infinite;
  }
  .loading:after{
     content:'';
     animation-delay:0.5s;
  }
  @keyframes ani{
    0%{
      width:0px; height:0px;opacity:1;
    }
    100%{
      width:100px; height:100px;opacity:0;
    }
  }

.load.active{
    display:flex;
    justify-content: center;
    align-items:center;
    
}
.load{
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:1;
    background: #ccc;
}